  body{
  padding: 0;
  margin: 0;
  color: #666;
  background: #f0f7f4;
  }

* {
    box-sizing: border-box;
}
  .form-container {
  width: 100%;
  height: 100vh;
  }
  .input-form {
    max-width: 100%;
    width: 600px;
    padding: 15px;
    margin: auto;
  }
  .form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: lighter !important;
    opacity: 0.98;
  }
  .form-control:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .forgot-link {
    font-size: 14px;
  }
  .forgot-link label {
    margin-bottom: 0;
  }
  .input-form a {
    text-decoration: none;
    color: #666;
  }
  .input-form a:hover {
    opacity: 0.8;
  }
  .btn-custom {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
  }
  @media (max-width: 465px) and (min-width: 100px){
    .input-form > h1 {
      font-size: 2.8rem;
    }
  }
